@{
    Layout = "_Layout";
    var productName = ViewData["ProductName"] as string;
    var productDescription = ViewData["ProductDescription"] as string;
    var price = ViewData["Price"] as string;
}
<div class="content">
    <h1 class="display-4">Wynik dodania produktu</h1>
    @productName<br />
    @productDescription<br />
    @price<br />
</div>
