@using System.Data.SQLite
@{
    Layout = "_Layout";
    var tabNames = ViewData["tabNames"] as List<string>;
    var names = ViewData["names"] as List<string>;
    var description = ViewData["description"] as List<string>;
    var price = ViewData["price"] as List<float>;
    }

    @model IEnumerable<PO_SQL.Models.Product>

    @{
        ViewBag.Title = "Index";
    }
    <div class="text-center">
        <h1 class="display-4">Wynik przeszukania</h1><br />
        <table class="table table-bordered table-hover" style="width:100%">
            <tr class="table-active">
                <th>Tabela</th>
                <th>Nazwa produktu</th>
                <th>Opis</th>
                <th>Cena</th>
            </tr>
            @for (int i=0; i<tabNames.Count; i++)
            {
                <tr>
                    <td>@tabNames[i]</td>
                    <td>@names[i]</td>
                    <td>@description[i]</td>
                    <td>@price[i]</td>
                </tr>
            }
        </table>
    </div>
