@using System.Data.SQLite
@{
    Layout = "_Layout";
    var query = ViewData["query"] as SQLiteDataReader;
}

@model IEnumerable<PO_SQL.Models.Product>

@{
    ViewBag.Title = "Index";
}
<div class="center">
    <h1 class="display-4">Wynik przeszukania</h1>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Tabela</th>
            <th>Nazwa produktu</th>
            <th>Opis</th>
            <th>Cena</th>
        </tr>
        @while (query.Read())
        {
            <tr>
                <td>---</td> <!--TODO nazwa tabeli-->
                <td>@query.GetString(0)</td>
                <td>@query.GetString(1)</td>
                <td>@query.GetFloat(2)</td>
            </tr>
        }
    </table>
</div>
