@using System.Data.SQLite
@using PO_SQL.Models.ActionClasses
@{
    ViewData["Title"] = "Dodaj Produkt";
    IAction a1 = new ListTables();
    var tables = a1.Execute();
}
@using (Html.BeginForm("AddProductResult", "DatabaseResults"))
{
    <div class="text-center">
        <h1 class="display-4">Dodaj Produkt</h1><br />
        <select class="text-center" name="Table" id="dropdowntipo" style = "width:210px">
            @for (int i = 0; tables.Read(); i++)
            {
                <option value="@tables.GetString(0)" name="TableName">@tables.GetString(0)</option>
            }
        </select><br/><br/>
        <input type="text" placeholder="Nazwa" name="Name" /><br /><br />
        <input type="text" placeholder="Fragment opisu" name="Desc" /><br /><br />
        <input type="text" name="Price" placeholder="Cena" /><br /><br />
        <input type="submit" name="Submit" />
    </div>
}