@{
    ViewData["Title"] = "Przeszukaj Produkty";
}
@using (Html.BeginForm("AddTableResult", "Results"))
{
<div class="text-center">
    <h1 class="display-4">Dodaj tabelę do bazy danych</h1>
    <input type="text" placeholder="Nazwa" name="TableName" /><br /><br />
    <input type="submit" name="Submit" />
</div>
}