@{
    ViewData["Title"] = "Dodaj tabelę";
}
@using (Html.BeginForm("AddTableResult", "Results"))
{
<div class="text-center">
    <h1 class="display-4">Dodaj tabelę do bazy danych</h1><br />
    <input type="text" placeholder="Nazwa" name="TableName"/><br /><br />
    <input type="submit" name="Submit" value="Dodaj" disabled/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
        function check_if_not_empty() {
            if ($('input[name=TableName]').val() === ''){
                $('input[name="Submit"]').attr('disabled', 'disabled');
            } else {
                $('input[name="Submit"]').removeAttr('disabled');
                return false;
            }
        }
        $(document).ready(function () {
            $('input[name=TableName]').change(function () {
                check_if_not_empty();
            })
        });
    </script>
</div>
}