@using System.Data.SQLite
@using PO_SQL.Models.ActionClasses
@using PO_SQL.Models.DatabaseActionClasses
@{
    ViewData["Title"] = "Usuń produkt";
    IAction a1 = new ListTables();
    var tables = a1.Execute();
}
@using (Html.BeginForm("DeleteProductResult", "DatabaseResults"))
{
<div class="text-center">
    <h1 class="display-4">Usuń produkt</h1>
    <br /><br />
    <select class="text-center" name="Table" id="dropdowntipo" style="width:210px">
        @for (int i = 0; tables.Read(); i++)
        {
            <option value="@tables.GetString(0)" name="TableName">@tables.GetString(0)</option>
        }
    </select>
    <br /><br />
    @Html.DropDownList("Name", new SelectList(string.Empty, "Value", "Text"), "Produkt do usunięcia", new { name = "Name", style = "width:210px; text-align: center", @class = "dropdown1" })
    <br /><br />
    Opis:
    <p id="desc" name="desc">Fragment opisu</p>
    Cena:
    <p id="price" name="price">Cena produktu</p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
        var data = {};

        function check_if_not_empty() {
            if (Object.keys(data).length <= 0) {
                $('input[name="Submit"]').attr('disabled', 'disabled');
            } else {
                $('input[name="Submit"]').removeAttr('disabled');
                return false;
            }
        }
        function getProduct() {
            $("#Name").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetProducts")',
                        dataType: 'json',
                        data: { id: $('select[name="Table"]').val() },
                        success: function (products) {
                            data = products;
                            $("#desc").text('Fragment opisu');
                            $("#price").text('Cena produktu');
                            // states contains the JSON formatted list
                            // of states passed from the controller
                            $.each(products, function (i, product) {
                                $("#Name").append('<option value="' + i + '">' + product['name'] + '</option>');
                                refreshDesc();
                                check_if_not_empty();
                            });
                        },
                        error: function (ex) {
                            alert('Failed to retrieve states.' + ex);
                        }
                    });
        }
        function refreshDesc() {
            let val = $('#Name').val();
            let product = data[val];
            console.log(product);
            $("#desc").text(product['desc']);
            $("#price").text(product['price']);
        }

        $(document).ready(function () {
            getProduct();
            //Dropdownlist Selectedchange event
            $('select[name="Table"]').change(function () {
                getProduct();
            })
            $('#Name').change(function () {
                refreshDesc();
            })
        });
    </script>
    <input type="submit" name="Submit" disabled/>
</div>
}
