@{
    ViewData["Title"] = "Usuń produkt";
}
@using (Html.BeginForm("DeleteProductResult", "DatabaseResults"))
{
    <div class="text-center">
        <h1 class="display-4">Usuń produkt</h1>
        <input type="text" placeholder="Tabela" name="Table" /><br /><br />
        <input type="text" placeholder="Nazwa" name="Name" /><br /><br />
        <input type="submit" name="Submit" />
    </div>
}