@{ ViewData["Title"] = "Importuj tabelę"; }

<div class="text-center">
    <h1 class="display-4">Importuj bazę danych z pliku csv</h1><br />
   
    @using (Html.BeginForm("ImportTableResult", "Results", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="text" name="TableName" placeholder="Nazwa tabeli" /> <br /><br />
        <div class="row">
            <div class="form-group col-md-6">
                <input type="file" class="form-control" name="FileName" />
            </div>

        </div>
        <input type="submit" name="Submit" />
    }   
    </div>