@{
    ViewData["title"] = "Home";
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-4">System zarządzania sklepami</h1>
    Niniejsza aplikacja jest projektem zaliczeniowym z przedmiotu Programowanie Obiektowe na Politechice Poznańskiej <br/>
    <h6 class="display-4">Autorzy</h6>
    Grzegorz Płaczek 148071<br/>
    Kamil Kałużny 148121<br/>
    Kacper Garncarek 148114<br/>
</div>