@{
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-4">Generator kwerend SQL</h1>
    Niniejsza aplikacja jest projektem zaliczeniowym z przedmiotu Programowanie Obiektowe na Politechice Poznańskiej <br/>
    <h6 class="display-4">Autorzy</h6>
    Grzegorz Płaczek <br/>
    Kamil Kałużny <br/>
    Kacper Garncarek <br/>
</div>