@{
    ViewData["Title"] = "Modyfikuj Produkt";
}
@using (Html.BeginForm("AddResult", "DatabaseResults"))
{
    <div class="text-center">
        <h1 class="display-4">Przeszukaj produkt</h1>
        <input type="text" placeholder="Nazwa" name="ProductName" /><br /><br />
        <input type="text" placeholder="Fragment opisu" name="ProductDescription" /><br /><br />
        <input type="text" name="price" placeholder="Cena" /><br /><br />
        <input type="submit" name="Submit" />
    </div>
}